<div class="img-fluid " style="background-image: url(../../assets/back.png); height: 100%; background-repeat: no-repeat;background-size: cover; ">

<div class="row">
    <div class="col-md-2">

    </div>

    <div class="col-md-6">
<div class="center mt-5">
    <img src="../../assets/avathar.png" alt="" style="width: 125px; border-radius: 75px; margin-left: 70px;">

</div>
<div>
    <div class="form-group d-flex justify-content-between mt-5">
       
        <h1>Full Name :-  Lakshana</h1>
        <h1>Expertise Areas :-  Doctor</h1>
    </div>
</div>

<div class="date">
<mat-form-field class="example-full-width" appearance="fill">
    <mat-label></mat-label>
    <input matInput [matDatepicker]="picker"style="color:white;">
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <button type="button"class="btn btn-outline-primary" mat-raised-button (click)="picker.open()">Booking</button>
  </div>



    </div>
</div>
</div>