#cam{
  position: relative;
  right: 75px;
   top: 10px;
  }
  .form-control{
      margin-right: 28px;
  }
  .center{
      margin-left: 195px;
  }
  .example-custom-date-class {
      background: orange;
      border-radius: 100%;
    }
    .date{
      margin-top:80px;
    }
    h1{
      color: white;
    }
    .form-group{
      margin: 35px;
    }
    .col-md-6{
      margin-top: 80px;
      margin-left: 223px;
    }